<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="comment">
		<select id="selectList" resultType="commentDto" parameterType="int">
			SELECT * FROM COMMENT WHERE BOARDNO=#{boarno} ORDER BY COMMENTNO DESC
		</select>
		<insert id="insert" parameterType="commentDto">
			INSERT INTO COMMENT VALUES(NULL,#{boardno},#{commentwriter},#{commenttitle},0,0, NOW())
		
		</insert>
		<update id="update" parameterType="commentDto">
			UPDATE COMMENT SET COMMENTTITLE=#{commenttitle} WHERE COMMENTNO=#{commentno}
		</update>
		<delete id="delete" parameterType="int">
			DELETE FROM COMMENT WHERE COMMENTNO=#{commentno}
		</delete>
		
		
</mapper>

<!-- CREATE TABLE COMMENT(
	COMMENTNO INT AUTO_INCREMENT PRIMARY KEY,
	BOARDNO INT,
	COMMENTWRITER VARCHAR(1000) NOT NULL,
	COMMENTTITLE VARCHAR(10000) NOT NULL,
	COMMENTGOOD INT NOT NULL,
	COMMENTBAD INT NOT NULL,
	COMMENTDATE DATE NOT NULL
); -->