<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="member">
		<select id="login" resultType="memberDto">
			SELECT * FROM MEMBER WHERE MEMBEREMAIL = #{memberemail}
		</select>
		
		<insert id="insert" parameterType="memberDto">
			INSERT INTO MEMBER VALUES(NULL, #{memberemail},#{membernickname}, #{memberpw}, #{membername}, "user", NOW())
		</insert>
 		
 		<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBEREMAIL = #{memberemail}
		</select>
 		
 		<select id="pwCheck" resultType="String">
			SELECT MEMBERPW FROM MEMBER WHERE MEMBEREMAIL = #{memberemail}
		</select>
		
		<update id="pwUpdate">
			UPDATE MEMBER SET MEMBERPW = #{memberpw} WHERE MEMBEREMAIL = #{memberemail}
		</update>
</mapper> 
