<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.multi.multigg.model.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="com.multi.multigg.model.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.multi.multigg.model.dto.CommentDto" alias="commentDto"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/board-mapper.xml"/>
		<mapper resource="/mybatis/member-mapper.xml"/>
		<mapper resource="/mybatis/comment-mapper.xml"/>
	</mappers>
</configuration>