html, body {
    height: 100%;
    margin: 0;
}
body{
    padding:0;
    font-size: 1.2em;
    font-family: "verdana";
    font-weight: bolder;
    text-align: center;
    
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
#board_body input, #userInfo input {
	border: none;
	background-color: #386ed1;
	color: white;
	width: 15%;
	height: 100%;
	padding: 0;
	margin: 0;
	outline: none;
	font-size: 1em;
	font-family: "verdana";
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}
#board_body input:hover {
	color: #1b489b;
	background-color: white;
}
#menu_top input:hover {
	border-top: solid 5px;
    box-sizing: border-box;
}
#board_body input::placeholder {
	color: skyblue;
}
select {
	border: none;
}
#screen{
    width: 100%;
    height: 100%;
}
#userInfo {
	box-sizing: border-box;
    width:15%;
    height:30%;
    background-color: #1c4179;
    float:left;
    border-bottom: dashed white;
}
#userInfo b:nth-child(2), #userInfo b:nth-child(3) {
	width: 60%;
	height: 15%;
	font-size: 0.8em;
}
#userInfo input {
	width: 50%;
	height: 20%;
	margin-top: 10%;
}
#userInfo input:hover {
	color: #1c4179;
	background-color: white;
}
#userInfo b, #kategorie b {
	color: white;
	width: 80%;
	height: 20%;
	display: inline-block;
	margin-top: 10%;
	border-top: solid white;
	border-bottom: solid white;
	line-height: 215%;
}
#kategorie{
    width:15%;
    height:60%;
    background-color: #1c4179;
    float:left;
}
#kategorie b:nth-child(1), #kategorie b:nth-child(7) {
	width: 80%;
	height: 8%;
	font-size: 1em;
	cursor: default;
	background-color: #1c4179;
}
#kategorie b {
	width: 35%;
	height: 5%;
	font-size: 0.8em;
	cursor: pointer;
	background-color: #4D8BFF;
}
#board_body{
    width:85%;
    height:90%;
    float:right;
}
#board_top{
    width:100%;
    height:15%;
    background-color: #4D8BFF;
}
#menu_top {
	width: 100%;
	height: 50%;
}
#menu_bottom {
	width: 100%;
	height: 50%;
}
#board_bottom{
    width:100%;
    height:85%;
    background-color: #386ed1;
    position: relative;
}
#board_list_area {
    width: 98%;
    height: 96%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#menu_top input:nth-child(1), #menu_top input:nth-child(2) {
	float: left;
}
#menu_top form {
	display: inline-block;
	font-size: 1em;
	float: right;
	width: 20%;
	height: 100%;
}
#menu_top form input {
	float: right;
	height: 100%;
	width: 50%;
}
#menu_top input[type='text'] {
	cursor: text;
}
#menu_top select {
	float: right;
	height: 100%;
	width: 50%;
	outline: none;
	
	border: none;
	background-color: #386ed1;
	color: white;
	font-size: 1em;
	font-family: "verdana";
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}
ul, li {
    width: 100%;
    margin: 0;
    padding: 0;
}
ul {
    height: 100%;
    list-style: none;
}
li {
    height: 10%;
    font-size: 1em;
    background-color: #4D8BFF;
}
li:first-child, li:first-child b {
    background-color: #386ed1;
}
li b {
	height: 100%;
    margin: 0;
    float: left;
    background-color: #4D8BFF;
    color: white;
    line-height: 300%;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.boardno {
    width: 7%;
}
.boardkategorie {
    width: 10%;
}
.boardtitle {
    width: 40%;
    cursor: pointer;
}
.boardtitle:hover {
	color: #1b489b;
}
.boardname {
    width: 15%;
}
.boarddate {
    width: 14%;
}
.boardview {
    width: 7%;
}
.boardlike {
    width: 7%;
}